<ul class="list-group">
    <li class="list-group-item"><a href="http://www.asp.net/mvc">ASP.NET MVC</a></li>
    <li class="list-group-item"><a href="http://www.microsoft.com">MICROSOFT</a></li>
    <li class="list-group-item"><a href="http://www.google.com.vn">GOOGLE</a></li>
    <li class="list-group-item"><a href="http://www.vnexpress.net">VNEXPRESS</a></li>
</ul>
