
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{Html.BeginForm("Index", "HtmlHelper", FormMethod.Get);}
@Html.TextBox("text1", "hello")

@Html.TextArea("text2", "hello <br/> world")
    <input type="submit" value="Save" />
@{Html.EndForm();}